[submodule "veewee"]
	path = veewee
	url = https://github.com/jedi4ever/veewee.git
[submodule "chef/cookbooks/postgresql"]
	path = chef/cookbooks/postgresql
	url = https://github.com/coroutine/chef-postgresql.git
[submodule "chef/cookbooks/rvm"]
	path = chef/cookbooks/rvm
	url = https://github.com/fnichol/chef-rvm.git
[submodule "chef/cookbooks/openssl"]
	path = chef/cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl.git
[submodule "chef/cookbooks/redis"]
	path = chef/cookbooks/redis
	url = https://github.com/ctrabold/chef-redis.git
[submodule "chef/cookbooks/python"]
	path = chef/cookbooks/python
	url = https://github.com/fnichol/chef-python.git
[submodule "chef/cookbooks/build-essential"]
	path = chef/cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "chef/cookbooks/tmux"]
	path = chef/cookbooks/tmux
	url = https://github.com/opscode-cookbooks/tmux.git
[submodule "chef/cookbooks/git"]
	path = chef/cookbooks/git
	url = https://github.com/fnichol/chef-git
[submodule "chef/cookbooks/dotfiles"]
	path = chef/cookbooks/dotfiles
	url = https://github.com/lebedevdsl/chef-dotfiles.git
