[submodule "veewee"]
	path = veewee
	url = https://github.com/jedi4ever/veewee.git
[submodule "chef/cookbooks/postgresql"]
	path = chef/cookbooks/postgresql
	url = https://github.com/coroutine/chef-postgresql.git
[submodule "chef/cookbooks/rvm"]
	path = chef/cookbooks/rvm
	url = https://github.com/fnichol/chef-rvm.git
